.text{
    background-color: rgb(235, 232, 232);
}
.heading{
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-family: cursive;
    text-shadow: 2px 2px grey;
}
.content{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: justify;
    font-size: 1.2rem;
    margin: 0px 250px 0px 250px;
    line-height: 1.6;
}
.customCards{
    background-color: blue;
}
.customCard{
    border: 2px solid black;
    padding: 100px;
}